<html>
	<head>
		<link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
	</head>
	<body>
		{{include("inc/navbar.html.twig")}}
		<h3>{{ nombre }}</h3>

		<table class="table">
		{% for articulo in articulos %}
			<tr>
				<td> {{ articulo.titulo }}</td>
				<td> {{ articulo.contenido }} </td>
				<td><a href="/articulo/eliminar/{{ articulo.id }}" class="btn btn-dark" >Borrar</a> </td>
			</tr>
		{% endfor %}
		</table>
	</body>

	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/Hf></script>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

</html>
